<h2>Contact Me</h2>

<p>If you’d like to get in touch regarding collaboration, opportunities, or questions about my projects, you can reach me via email or my professional profiles below:</p>

<ul>
  <li>Email: <a href="mailto:eb613819@ohio.edu">eb613819&#64;ohio.edu</a></li>
  <li>GitHub: <a href="https://github.com/eb613819" target="_blank">github.com/eb613819</a></li>
  <li>LinkedIn: <a href="https://linkedin.com/in/evanbrooks03" target="_blank">linkedin.com/in/evanbrooks03</a></li>
  <li>Thingiverse: <a href="https://thingiverse.com" target="_blank">thingiverse</a></li>
  <li>Printables: <a href="https://printables.com" target="_blank">printables</a></li>
</ul>
