.carousel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
  border-radius: var(--radius-md);
  display: flex;
  align-content: center;
}

.carousel-container.expanded {
    height: 500px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius-md);
  cursor: default;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--radius-lg);
  font-size: 1.5rem;
}

.prev-btn:hover,
.next-btn:hover {
    background: rgba(255,255,255,0.2);
}

.prev-btn { left: 0.5rem; }
.next-btn { right: 0.5rem; }

.carousel-indicators {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.25rem;
}

.carousel-indicators span {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.carousel-indicators span.active {
  background: rgba(255,255,255,1);
}
