<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-left">
      <img src="favicon.png" alt="EB logo" class="nav-logo" />
      <span class="nav-brand">Evan Brooks</span>
    </a>
    <div class="nav-right">
      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/experience" routerLinkActive="active">Experience</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a href="EvanBrooks_Resume.pdf" download class="nav-link">Download Resume (PDF)</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />
