<nav class="navbar">
  <div class="nav-container">
      <div class="mobile-top-bar" [class.menu-open]="menuOpen">
        <a routerLink="/" class="nav-left">
          <img src="favicon.png" alt="EB logo" class="nav-logo" />
          <span class="nav-brand">Evan Brooks</span>
        </a>
        <button class="hamburger" (click)="toggleMenu()">☰</button>
      </div>
    <div class="nav-right" [class.open]="menuOpen">
      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/experience" routerLinkActive="active">Experience</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
        <a href="https://raw.githubusercontent.com/eb613819/portfolio-site-data/main/files/Evan_Brooks_Resume.pdf" target="_blank" download (click)="onClickDownloadResume()">Download Resume (PDF)</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />
