<nav class="navbar">
  <div class="nav-container">
    <div class="nav-left">
      <p class="nav-brand">Evan Brooks</p>
    </div>
    <div class="nav-right">
      <div>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/projects" routerLinkActive="active">Projects</a>
        <a routerLink="/experience" routerLinkActive="active">Experience</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet />
